<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Il2CppDumper.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Il2CppDumper.WinForms.Properties.Settings>
            <setting name="AutoSetDir" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExtractBinary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Arch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsMachO64" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExtractMetaData" serializeAs="String">
                <value>False</value>
            </setting>
        </Il2CppDumper.WinForms.Properties.Settings>
    </userSettings>
</configuration>